<html>
  <head>
   <title>Nav Bar</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <div class = "row">
    <div id = "nav" class = "col-md-6">
   <nav class="navbar navbar" id="top" role="navigation">
       <ul class="nav navbar-nav">
         <li><a href="/static_pages/home">HOME</a></li>
           <li><a href="/static_pages/about_me">ABOUT ME</a></li>
           <!-- Link above to about_me page. -->
           <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BLOGS </a>
           <ul class="dropdown-menu">
             <li> <%= link_to 'FOOD & BODY', categories_food_path %></li>
             <!-- Testing categories above. -->
             <li><%= link_to 'LIFESTYLE', categories_lifestyle_path %></li>
             <!-- This takes you to the lifestyle category. -->
         </ul>
           </li>
         <li><%= link_to 'RECIPES', categories_recipes_path %></li>
         <li>
           <li id = "go-left"><a href="/static_pages/services">SERVICES</a></li>
           <li><a href="/static_pages/contact">CONTACT</a></li>

           <% if logged_in?  %>
           <li><%= link_to 'Admin Post', new_post_path %></li>
           <li><%= link_to 'Log out', session_path(current_user), class: "btn btn-default navbar-btn", type: "button", method: :delete %></li>
           <% end %>

   </nav>
  </div>
  </div>
  </div>
  </body>
 </html>
